@font-face {
    font-family: 'Helvetica Neu';
    font-style: normal;
    src: local('Helvetica Neu'), url('./assets/fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeuBold';
    src: local('HelveticaNeuBold'), url('./assets/fonts/HelveticaNeuBold.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeuMedium';
    font-style: normal;
    src: local('HelveticaNeuMedium'), url('./assets/fonts/HelveticaNeueMedium.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Helvetica Neu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Helvetica Neu', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, h1, h2, h3, h4, h5, span, p {
    font-family: 'Helvetica Neu', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.section-header {
    width: 100vw;
    height: 100vh;
}

.section {
    position: relative;
}

.section-header .points {
    /*z-index: 2;*/
}

.section .points {
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 100%;
    /*z-index: 1;*/
}

.point {
    border-radius: 50%;
    z-index: 999;
    position: absolute
}


@-webkit-keyframes p1 {
    0% {
        left: 100%;
        top: 0;
    }
    50% {
        left: 0;
        top: 800px
    }
    100% {
        left: 800px;
        top: 0;
    }
}

@keyframes p1 {
    0% {
        left: 100%;
        top: 0;
    }
    50% {
        left: 0;
        top: 800px
    }
    100% {
        left: 800px;
        top: 0;
    }
}

@-webkit-keyframes p2 {
    0% {
        left: 50%;
        top: 0;
    }
    50% {
        left: 0;
        top: 800px
    }
    100% {
        left: 0;
        top: 100px
    }
}

@keyframes p2 {
    0% {
        left: 50%;
        top: 0;
    }
    50% {
        left: 0;
        top: 800px
    }
    100% {
        left: 0;
        top: 100px
    }
}

@-webkit-keyframes p3 {
    0% {
        left: 80%;
        top: 80%;
    }
    50% {
        left: 50%;
        top: 0;
    }
    100% {
        left: 30%;
        top: 80%;
    }
}

@keyframes p3 {
    0% {
        left: 80%;
        top: 80%;
    }
    50% {
        left: 50%;
        top: 0;
    }
    100% {
        left: 30%;
        top: 80%;
    }
}

@-webkit-keyframes p4 {
    0% {
        left: 1000px;
        top: 500px
    }
    50% {
        left: 00px;
        top: 500px
    }
    100% {
        left: 1000px;
        top: 500px
    }
}

@keyframes p4 {
    0% {
        left: 1000px;
        top: 500px
    }
    50% {
        left: 0px;
        top: 500px
    }
    100% {
        left: 1000px;
        top: 500px
    }
}

@-webkit-keyframes p5 {
    0% {
        left: 500px;
        top: 1000px
    }
    50% {
        left: 50%;
        top: 0px
    }
    100% {
        left: 500px;
        top: 1000px
    }
}

@keyframes p5 {
    0% {
        left: 500px;
        top: 1000px
    }
    50% {
        left: 50%;
        top: 0px
    }
    100% {
        left: 500px;
        top: 1000px
    }
}

@-webkit-keyframes p6 {
    0% {
        left: 500px;
        top: 200px
    }
    50% {
        left: 50%;
        top: 70%
    }
    100% {
        left: 500px;
        top: 200px
    }
}

@keyframes p6 {
    0% {
        left: 500px;
        top: 200px
    }
    50% {
        left: 50%;
        top: 70%
    }
    100% {
        left: 500px;
        top: 200px
    }
}

@-webkit-keyframes p7 {
    0% {
        left: 50px;
        top: 10%
    }
    50% {
        left: 50%;
        top: 10%
    }
    100% {
        left: 50px;
        top: 10%
    }
}

@keyframes p7 {
    0% {
        left: 50px;
        top: 10%
    }
    50% {
        left: 50%;
        top: 10%
    }
    100% {
        left: 50px;
        top: 10%
    }
}

@-webkit-keyframes p8 {
    0% {
        left: 0;
        top: 20%
    }
    50% {
        left: 50%;
        top: 20%
    }
    100% {
        left: 0;
        top: 20%
    }
}

@keyframes p8 {
    0% {
        left: 0;
        top: 20%
    }
    50% {
        left: 50%;
        top: 20%
    }
    100% {
        left: 0;
        top: 20%
    }
}

@-webkit-keyframes p9 {
    0% {
        left: 1000px;
        top: 100px
    }
    50% {
        left: 500px;
        top: 950px
    }
    100% {
        left: 1000px;
        top: 100px
    }
}

@keyframes p9 {
    0% {
        left: 1000px;
        top: 100px
    }
    50% {
        left: 500px;
        top: 950px
    }
    100% {
        left: 1000px;
        top: 100px
    }
}


.point-floating-1 {
    background-color: red;
    height: 10px;
    width: 10px;
    position: relative;
    -webkit-animation-name: p1;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p1;
    animation-duration: 80s;
    animation-iteration-count: infinite
}

.point-floating-2 {
    background-color: green;
    height: 10px;
    width: 10px;
    position: relative;
    -webkit-animation-name: p2;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p2;
    animation-duration: 90s;
    animation-iteration-count: infinite
}

.point-floating-3 {
    background-color: orange;
    height: 5px;
    width: 5px;
    position: relative;
    -webkit-animation-name: p3;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p3;
    animation-duration: 80s;
    animation-iteration-count: infinite
}

.point-floating-4 {
    background-color: pink;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p4;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p4;
    animation-duration: 80s;
    animation-iteration-count: infinite
}

.point-floating-5 {
    background-color: #ffc64c;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p5;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p5;
    animation-duration: 50s;
    animation-iteration-count: infinite
}

.point-floating-6 {
    background-color: #ffc64c;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p6;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p6;
    animation-duration: 70s;
    animation-iteration-count: infinite
}

.point-floating-7 {
    background-color: orange;
    height: 10px;
    width: 10px;
    position: relative;
    -webkit-animation-name: p7;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p7;
    animation-duration: 70s;
    animation-iteration-count: infinite
}

.point-floating-8 {
    background-color: purple;
    height: 6px;
    width: 6px;
    position: relative;
    -webkit-animation-name: p8;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p8;
    animation-duration: 50s;
    animation-iteration-count: infinite
}

.point-floating-9 {
    background-color: purple;
    height: 12px;
    width: 12px;
    position: relative;
    -webkit-animation-name: p9;
    -webkit-animation-duration: 100s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p9;
    animation-duration: 100s;
    animation-iteration-count: infinite
}

@keyframes move-left-right {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

.index-page .page-header {
    height: 100vh;
}

.index-page .page-header .container > .content-center.brand .h1-seo,
.index-page .page-header .container > .content-center.brand h3 {
    color: #ffffff;
    font-weight: 600;
    text-transform: capitalize;
}

.index-page .page-header .container > .content-center.brand .h1-seo span,
.index-page .page-header .container > .content-center.brand h3 span {
    font-weight: 600;
}

.index-page .page-header .category-absolute {
    position: absolute;
    top: 100vh;
    margin-top: -60px;
    padding: 0 15px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}

.index-page .squares {
    animation: move-left-right 1s infinite;
    background: #ba54f5;
    background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 20%;
}

.index-page .squares.square1 {
    animation: move-left-right 4s infinite;
    height: 300px;
    width: 300px;
    opacity: 0.5;
    left: 3%;
    top: 21%;
}

.index-page .squares.square2 {
    animation: move-left-right 6s infinite;
    height: 400px;
    width: 400px;
    opacity: 0.4;
    right: -5%;
    top: -12%;
}

.index-page .squares.square3 {
    animation: move-left-right 5s infinite;
    height: 200px;
    width: 200px;
    opacity: 0.1;
    left: -5%;
    bottom: -80%;
}

.index-page .squares.square4 {
    animation: move-left-right 10s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.9;
    right: 15%;
    top: 70%;
}

.index-page .squares.square5 {
    animation: move-left-right 6s infinite;
    height: 250px;
    width: 250px;
    opacity: 0.1;
    left: 45%;
    bottom: -30%;
}

.index-page .squares.square6 {
    animation: move-left-right 9s infinite;
    left: 10%;
    top: 95%;
    height: 80px;
    width: 80px;
    opacity: 0.8;
}

.index-page .squares.square7 {
    animation: move-left-right 3s infinite;
    width: 300px;
    height: 300px;
    right: -5%;
    bottom: -50%;
    opacity: 0.1;
}

.container-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px 0;
}

@media screen and (max-width: 767px) {
    .container-intro {
        padding: 100px 10px 10px 10px;
    }
}

.row {
    margin: 0;
}

.css-qvusmn-TimelineContentDetails {
    font-size: 15px !important;
}

.iconIns, .iconFac {
    color: black;
}

.iconFac:hover {
    color: #007bff;
}

.iconIns:hover {
    color: #a94db9;
}

.carousel .slide {
    background: transparent !important;
}